<body>
  <div class='title'>
    <img src='icon_totem.svg' class='styled-image' />
    <h1>Welcome to {{title}}</h1>
  </div>
  <div class='container'>
    <h2 class='heading'>Overview</h2>
    <table class='data-table'>
      <tr>
        <th>Registered Users</th>
        <td>{{userCount}}</td>
      </tr>
      <tr>
        <th>Total Started Quests</th>
        <td>{{totalQuests}}</td>
      </tr>
      <tr>
        <th>Completed Quests</th>
        <td>{{totalCompleted}}</td>
      </tr>
      <tr>
        <th>Completed Rate</th>
        <td>{{completedRate}}%</td>
      </tr>
    </table>
  </div>
</body>