<h1 class='heading'>Quests</h1>
<div>
  <table class='data-table'>
    <tr>
      <th>Id</th>
      <th>Started</th>
      <th>Completed</th>
      <th>Failed</th>
      <th>Completed Rate</th>
    </tr>
    {{#each quests}}
      <tr>
        <td>{{_id}}</td>
        <td>{{started}}</td>
        <td>{{completed}}</td>
        <td>{{failed}}</td>
        <td>{{completedRate}} %</td>
      </tr>
    {{/each}}
  </table>