<h1 class='heading'>Users List</h1>
<div class='sort'>
  <a href='/users?order=asc'><div class='btn'>
      <h3>Ascending</h3>
    </div></a>
  <a href='/users?order=desc'><div class='btn'>
      <h3>Descending</h3>
    </div></a>
</div>
<div>
  <table class='data-table'>
    <tr>
      <th>Username</th>
      <th>Last Activity</th>
      <th>Sessions Count</th>
      <th>Email</th>
      <th>Registration Time</th>
      <th>Registration Method</th>
    </tr>
    {{#each users}}
      <tr>
        <td><a href='/users/{{_id}}'>{{username}}</a></td>
        <td>{{lastActivityAt}}</td>
        <td>{{sessionCount}}</td>
        <td>{{email}}</td>
        <td>{{createdAt}}</td>
        <td>{{method}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<div class='pagination sort'>
  <a href='/users?nextKey={{nextKey}}&order={{order}}'><div class='btn'>
      <h3>Next</h3>
    </div></a>
</div>